body
{
background:#333;
font-family:arial;
margin:0;
width:910px;
}
img
{
border:none;
}
.logo
{
display:block;
margin-left:20px;
}
.enust
{
margin-top:-5px;
height:20px;
background:#efefef;
width:140px;
padding:5px;
margin-left:260px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.enust a
{
display:block;
text-decoration:none;
font-size:13px;
margin-top:4px;
color:#212121;
float:left;
margin-right:10px;
font-weight:bold;
}
.enust a:hover
{
color:#990000;
}

.m1
{
display:absolute;
text-align:center;
list-style:none;
background:url(../images/buton_hover.png);
width:90px;
height:25px;
padding:5px;
margin-left:250px;
}
.m1:hover
{
background:url(../images/buton.png);
}
.m1 a
{
font-size:14px;
display:block;
margin-top:5px;
font-weight:bold;
color:#fff;
text-decoration:none;
text-shadow:1px 1px 1px #333;
}



.blok
{
margin-left:10px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
width:780px;
padding:10px;
}
.sol_blok
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
float:left;
width:130px;
background:#fff;
padding:5px;
}

.sag_blok
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
float:right;
width:640px;
background:#fff;
padding:5px;
margin-left:5px;
}

.navigasyon
{
float:left;
-moz-border-radius:5px;
-webkit-border-radius:5px;
width:120px;
height:70px;
background:#789;
list-style:none;
margin:3px;
border:1px solid #567;
}

.navigasyon img
{
border:none;
padding-top:7px;
margin-left:42px;

}

.navigasyon p
{
text-decoration:none;
margin-top:5px;
text-align:center;
color:#fff;
font-size:14px;
width:120px;
}
.navigasyon:hover
{
background:#567;
border:1px solid #789;
}
.temizle
{
clear:both;
}
.cikis
{

margin-top:-30px;
display:absolute;
list-style:none;
float:right;
background-image:url(../images/cikis.png);
background-repeat:no-repeat;
width:60px;
height:20px;
padding:5px;
}
.cikis:hover
{
background-image:url(../images/cikis_2.png);
}
.cikis a
{
color:#efefef;
font-size:14px;
text-decoration:none;
background-image:url(../images/icon/logout.png);
background-repeat:o-repeat;
}
.cikis a:hover
{
color:#161616;
}


.form
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
background:#fff;
width:640px;
float:right;
padding:5px;
margin-left:5px;
margin-top:10px;
}

.baslik
{
font-size:18px;
background:#678;
width:630px;
padding:3px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-left:2px;
border:1px solid #567;
color:#fff;
margin-bottom:10px;
}
.baslik1
{
margin-top:3px;
font-size:15px;
background:#678;
padding:3px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #567;
color:#fff;
margin-bottom:10px;
}
.form_baslik
{
list-style:none;
width:140px;
display:block;
float:left;
margin-left:30px;
padding-top:7px;
font-size:14px;
font-weight:bold;
color:#333;
}
.listele
{
margin-top:6px;
}

.f_1
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:100px;
}

.f_2
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:150px;
}

.f_3
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:200px;
}

.f_4
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:300px;
}

.f_5
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:300px;
height:60px;
}


.f_6
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:300px;
height:100px;
}

.f_7
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:80px;
}

.f_8
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:120px;
}

.f_9
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#efefef;
width:180px;
}

.reset
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#567;
width:80px;
color:#fff;
font-weight:bold;
}
.reset:hover
{
background:#789;
}
.submit
{
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #666;
background:#789;
width:100px;
color:#fff;
font-weight:bold;
}
.submit:hover
{
background:#567;
}
.tablolar
{
height:20px;
margin-left:3px;
width:624px;
background:#efefef;
border:1px solid #ccc;
padding:5px;
font-weight:bold;
}
.tablolar li 
{
margin-right:10px;
float:left;
list-style:none;
}
.no
{
width:60px;
}
.libas
{
width:485px;
}
.listeleme
{
margin-top:7px;
height:20px;
margin-left:3px;
width:624px;
border-bottom:1px solid #ccc;
padding:5px;
font-size:15px;
}
.listeleme li 
{
margin-right:10px;
float:left;
list-style:none;
}

.listeleme a
{
margin-right:5px;
}
.pagination
{
margin-left:2px;
}
.page
{
margin-top:15px;
margin-bottom:7px;
margin-right:3px;
float:left;
}
.page a
{
text-decoration:none;
-moz-border-radius:2px;
-webkit-border-radius:2px;
background:#efefef;
list-style:none;
padding:1px;
background:#ccc;
padding-left:7px;
padding-right:7px;
border:1px solid #999;
color:#212121;
}
.page a:hover
{
background:#212121;
color:#efefef;
}
.listeleme img
{
border:none;
}

.footer
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-top:10px;
background:#efefef;
margin-left:20px;
height:50px;
padding:5px;
font-size:15px;
}
.footer span
{
float:right;
color:#333;
margin-top:30px;
font-size:14px;
}
.yorums
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #ccc;
margin-bottom:5px;
background:#efefef;
padding:3px;
font-size:14px;
color:#567;
}
.yorums img
{
margin-right:5px;
border:none;
float:left;
}
.yorums p
{
margin:0;
color:#212121;
font-size:13px;
margin-bottom:5px;
}
